.topPanel {
    height: var(--topPanelHeight);
    background-color: white;
    padding: 10px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    -webkit-box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.2);
}

.title {
    background-color: transparent;
    border: none;
    font-size: 16px;
    width: 250px;
    text-align: center;
    color: black;
    margin: 0 0 10px 5px;
    
}

.button {
    margin: 0 5px;
}

.buttons{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.buttonApply{
    font-size: 14px;
    background-color: #e9d2b6;
    background-size: 300% 300%;
    margin-top: 3px;
}

.button--active{
    position: relative;
}

.colorPicker{
    position: absolute;
    top: 73px;
    left: 173px;
    opacity: 0;    
}

.apply{
    position: absolute;
    top: 355px;
    width: 115px;
    font-size: 14px;
    background-color: #e9d2b6;
    background-size: 300% 300%;
    -webkit-box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.2);
    position: absolute;
}

.slidesActions{

}

.elementActions{
    display: flex;
    align-items: center;
}

.colorPallete{
    position: absolute;
    opacity: 0;
    top: 76px;
    right: 530px
}

.FontFamilySelector {
    margin-left: 10px;
    padding: 5px;
    font-size: 14px;
    background-color: #e9d2b6;
  }